body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 30px auto;
  max-width: 1100px;
}

.item-grid {
  background-color: #f4f4f4;
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  grid-auto-rows: 4fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  background-color: coral;
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}
