* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
}

/* Styling the navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  outline: none;
}

/* Accessibility checker said there's a problem with this contract for color blind people, we'll fix it now */
.search button {
  padding: 8px 15px;
  /* background-color: #4caf50; */
  background-color: #316f33;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #1d401e;
}

.visually-hidden {
  /* Clip the element into a rectangle with no sides (zero) */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  /* Make it as small as possible, but not 0, because some screen readers optimize and ignore elements
  with no size */
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* Make it absolute, so it's outside of the HTML's normal structure/flow */
  position: absolute;
  white-space: nowrap;
}
