* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

/* Same comment, not interested. However, keep in mind only the following:

  cqh: Container Query Height
  cqw: Container Query Width

*/
