* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  grid-column: span 2;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 20px;
}

.search {
  background-color: #666;
  color: #fff;
  padding: 20px;
}

main {
  background-color: #f0f0f0;
  padding: 20px;
}

aside {
  background-color: #ddd;
  padding: 20px;
}

footer {
  background-color: #666;
  color: #fff;
  padding: 20px;
  grid-column: span 2;
}

/* Normal media queries, like we used to do. */
@media (max-width: 768px) {
  .container {
    /* We want to stack all the elements, so we override grid-template-columns with only 1 column (1fr) */
    grid-template-columns: 1fr;
    /* Notice that now the main content is the 4th item, so now we override rows to make the 4th 1fr */
    grid-template-rows: auto auto auto 1fr;
    /* anything that comes after the 4th item (main content), fit the size. */
    grid-auto-rows: auto;
  }

  /* All the above will not apply until you remove spans (return them to span 1 as they were by default) */
  header,
  footer {
    grid-column: span 1;
  }
}
