body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  background-color: #f4f4f4;
}

.grid-item {
  background-color: coral;
  border: 1px solid #070707;
}

.flex-grid {
  /* To transform a container/element to a grid, use display: grid; */
  /* NOTE: This by itself doesn't do anything. A grid needs its columns and/or rows identified first */
  display: grid;
  /* grid-template-columns: identifies the number of columns are their sizes. The more arguments you type,
  the more the columns (each argument = 1 column) */
  /* We can use percentages, rems, px, whatever. But the recommended are fractional numbers (fr) */
  /* This line means we'll have 3 columns, each taking 1 fraction (so all add up to 3, so each is a third) */
  grid-template-columns: 1fr 1fr 1fr;

  /* Column only gaps */
  /* column-gap: 20px; */

  /* Row only gaps */
  /* row-gap: 20px; */

  /* We can simplify this and use just "gap" */
  gap: 20px;
}
